:root {
  --animate-duration: 500ms;
  --animate-delay: 10s;
}

img {
  width: 70px;
  height: 25px;
}

span {
  font-size: 16px;
  font-weight: 700;
}

.killer {
  color: rgb(255, 65, 65);
}

.victim {
  color: rgb(5, 228, 5);
}

.container {
  height: 200px;
  overflow: hidden;
}

#killfeed {
  background-color: rgba(21, 21, 21, 0.705);
  border-radius: 8px;
  letter-spacing: 1px;
  border: 1px solid black;
}
